flows.json
[
    {
        "id": "465cfd27.107674",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e863d654.dd1238",
        "type": "tab",
        "label": "Camera Control Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23b558b.7cae4a8",
        "type": "tab",
        "label": "Single Image Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "YggCam",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "df94e314.43c5c",
        "type": "ui_group",
        "z": "",
        "name": "YggCam",
        "tab": "d331f05e.b54d3",
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "d331f05e.b54d3",
        "type": "ui_tab",
        "z": "",
        "name": "YggCam",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "7e7d9139.ec86",
        "type": "ui_group",
        "z": "",
        "name": "Camera Settings",
        "tab": "a73cf538.7403b8",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a73cf538.7403b8",
        "type": "ui_tab",
        "z": "",
        "name": "Camera Settings",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "aed3a698.8f5028",
        "type": "ui_tab",
        "z": "",
        "name": "Single Image",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "2109abd1.7997a4",
        "type": "ui_group",
        "z": "",
        "name": "Single Image Settings",
        "tab": "aed3a698.8f5028",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c3854fdc.60812",
        "type": "exec",
        "z": "465cfd27.107674",
        "command": "raspistill -o /home/pi/yv-yggcam/images/raspiWebCamImage.jpg",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Run Camera",
        "x": 430,
        "y": 40,
        "wires": [
            [],
            [],
            [
                "4784e78d.c54e78"
            ]
        ]
    },
    {
        "id": "79057734.fe6ba8",
        "type": "ui_template",
        "z": "465cfd27.107674",
        "group": "df94e314.43c5c",
        "name": "To Dashboard",
        "order": 2,
        "width": "15",
        "height": "12",
        "format": "<script type=\"text/javascript\">\n//var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);\nif (!!navigator.platform && /iPhone/.test(navigator.platform))\n{\n    $(\"#image\").attr(\"height\", \"260\");\n    $(\"#image\").attr(\"width\",  \"347\");\n    \n}\n</script>\n<div>\n    <table>\n        <tbody>\n            <tr align=\"center\">\n                <td align=\"center\">\n                    <img id=\"image\" src='{{msg.payload.image}}' height=\"544\" width=\"725\" >\n                </td>\n            </tr>\n            <tr align=\"center\">\n                <td id=\"imageDate\" align=\"center\">\n                   {{msg.payload.date}}\n                </td>\n            </tr>        \n        </tbody>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 960,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4784e78d.c54e78",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Check For Error",
        "func": "if (msg.payload.code == 0) return msg;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 60,
        "wires": [
            [
                "bc3e5f27.8e775"
            ]
        ]
    },
    {
        "id": "bc3e5f27.8e775",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Add Timestamp",
        "func": "if (msg.payload.code == 0) \n{\n    var timestamp = new Date();\n    var imageName = '/raspiWebCamImage.jpg?time=' + timestamp.getTime().toString();\n    var newMsg = {'topic':'timestamp', 'payload':{'image':imageName,'date':timestamp.toLocaleString()}};\n    return newMsg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "79057734.fe6ba8"
            ]
        ]
    },
    {
        "id": "35caeb6b.c53174",
        "type": "ui_template",
        "z": "465cfd27.107674",
        "group": "df94e314.43c5c",
        "name": "Single Image",
        "order": 1,
        "width": "3",
        "height": "1",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Single Image</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "f24ffbc8.74dd58"
            ]
        ]
    },
    {
        "id": "f24ffbc8.74dd58",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "compile settings",
        "func": "var cameraSettings = global.get('cameraSettings');\nvar singleImageSettings = global.get('singleImageSettings');\nvar commandString = '';\nfor (var key in cameraSettings)\n{\n    if (cameraSettings[key].enabled)\n        commandString = commandString + ' -'+ key + ' ' + cameraSettings[key].value;\n}\nfor (var key in singleImageSettings)\n{\n    if (singleImageSettings[key].enabled)\n        commandString = commandString + ' -'+ key + ' ' + singleImageSettings[key].value;\n}\nmsg.payload = commandString + ' ';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 40,
        "wires": [
            [
                "c3854fdc.60812"
            ]
        ]
    },
    {
        "id": "55f35508.5e2cdc",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "sh-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "sh-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 80,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "843f69b4.cbe5c8",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "sh-value",
        "label": "Sharpness (-100 to 100)",
        "group": "7e7d9139.ec86",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sh-value",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "6723d98c.bf4fe8",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "InitCameraSettings",
        "func": "var newMsg = \n{\n    'topic':'cameraSettings',\n    'payload':\n    {\n        'sh' :{'value':'0',         enabled:false},\n        'co' :{'value':'0',         enabled:false},\n        'br' :{'value':'50',        enabled:false},\n        'sa' :{'value':'0',         enabled:false},\n        'ISO':{'value':'100',       enabled:false},\n        'ev' :{'value':'0',         enabled:false},\n        'ss' :{'value':'100',       enabled:false},\n        'rot':{'value':'0',         enabled:false},\n        'ex' :{'value':'off',       enabled:false},\n        'awb':{'value':'off',       enabled:false},\n        'ifx':{'value':'none',      enabled:false},\n        'mm' :{'value':'average',   enabled:false},\n    }\n}\nglobal.set(newMsg.topic,newMsg.payload)\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "b95ce3d5.348db",
                "953dbc1a.880c7",
                "425aebcf.0016a4",
                "b1c2495.e4f20b8",
                "36d97bcd.858934",
                "a05cb594.d43c28",
                "c5446a65.cc6458",
                "85299a94.c15148",
                "4bfc5473.53be2c",
                "4fad3f97.e2b35",
                "95afa3f7.d77dd",
                "f0f25b0c.c04ad8"
            ]
        ]
    },
    {
        "id": "2cc23f49.22e96",
        "type": "inject",
        "z": "e863d654.dd1238",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "6723d98c.bf4fe8"
            ]
        ]
    },
    {
        "id": "b95ce3d5.348db",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get sh",
        "func": "var command = 'sh';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "843f69b4.cbe5c8"
            ],
            [
                "55f35508.5e2cdc"
            ]
        ]
    },
    {
        "id": "e54e246e.e855c8",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Store Setting",
        "func": "var cameraSettings = global.get('cameraSettings');\nvar settingTopic = msg.topic.split('-');\ncameraSettings[settingTopic[0]][settingTopic[1]] = msg.payload;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f34c0578.189a18",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "co-value",
        "label": "Contrast (-100 to 100)",
        "group": "7e7d9139.ec86",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "co-value",
        "x": 680,
        "y": 140,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "59eef2ab.99a51c",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "co-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "co-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "953dbc1a.880c7",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get co",
        "func": "var command = 'co';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "f34c0578.189a18"
            ],
            [
                "59eef2ab.99a51c"
            ]
        ]
    },
    {
        "id": "425aebcf.0016a4",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get br",
        "func": "var command = 'br';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "cb9193cc.af0ab"
            ],
            [
                "f534f412.07ece8"
            ]
        ]
    },
    {
        "id": "f534f412.07ece8",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "br-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "br-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "cb9193cc.af0ab",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "br-value",
        "label": "Brightness (0 to 100)",
        "group": "7e7d9139.ec86",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "br-value",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "b1c2495.e4f20b8",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get sa",
        "func": "var command = 'sa';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "3eb1c7d3.589568"
            ],
            [
                "28446beb.990a84"
            ]
        ]
    },
    {
        "id": "28446beb.990a84",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "sa-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "sa-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "3eb1c7d3.589568",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "sa-value",
        "label": "Saturation (-100 to 100)",
        "group": "7e7d9139.ec86",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sa-value",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "36d97bcd.858934",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get ISO",
        "func": "var command = 'ISO';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "621a92c.b4cc56c"
            ],
            [
                "b3841c7e.caf4b"
            ]
        ]
    },
    {
        "id": "b3841c7e.caf4b",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "ISO-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "ISO-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "621a92c.b4cc56c",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "ISO-value",
        "label": "ISO (100 to 800)",
        "group": "7e7d9139.ec86",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "ISO-value",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "a05cb594.d43c28",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get ev",
        "func": "var command = 'ev';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "fb79d022.e41de"
            ],
            [
                "ebfdf064.19d0b"
            ]
        ]
    },
    {
        "id": "ebfdf064.19d0b",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "ev-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "ev-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "fb79d022.e41de",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "ev-value",
        "label": "EV Comp (-10 to 10)",
        "group": "7e7d9139.ec86",
        "order": 11,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "ev-value",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "c5446a65.cc6458",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get ss",
        "func": "var command = 'ss';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "8028707.738429"
            ],
            [
                "4bdffb0d.78e674"
            ]
        ]
    },
    {
        "id": "4bdffb0d.78e674",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "ss-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 14,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "ss-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 680,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "8028707.738429",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "ss-value",
        "label": "Shutter Speed (mS) (1 to 6000)",
        "group": "7e7d9139.ec86",
        "order": 13,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "ss-value",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "85299a94.c15148",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get rot",
        "func": "var command = 'rot';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 760,
        "wires": [
            [
                "805e33b6.79d21"
            ],
            [
                "eb369cdd.a1c14"
            ]
        ]
    },
    {
        "id": "eb369cdd.a1c14",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "rot-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 16,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "rot-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 780,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "805e33b6.79d21",
        "type": "ui_text_input",
        "z": "e863d654.dd1238",
        "name": "rot-value",
        "label": "Rotation (0 to 359)",
        "group": "7e7d9139.ec86",
        "order": 15,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "rot-value",
        "x": 680,
        "y": 740,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "4bfc5473.53be2c",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get ex",
        "func": "var command = 'ex';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 860,
        "wires": [
            [
                "7c6e2fdd.ccb7a"
            ],
            [
                "5cac7abc.4cfaf4"
            ]
        ]
    },
    {
        "id": "5cac7abc.4cfaf4",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "ex-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 18,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "ex-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "7c6e2fdd.ccb7a",
        "type": "ui_dropdown",
        "z": "e863d654.dd1238",
        "name": "ex-value",
        "label": "Exp Mode",
        "place": "off",
        "group": "7e7d9139.ec86",
        "order": 17,
        "width": "5",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "off",
                "type": "str"
            },
            {
                "label": "",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "",
                "value": "night",
                "type": "str"
            },
            {
                "label": "",
                "value": "nightpreview",
                "type": "str"
            },
            {
                "label": "",
                "value": "backlight",
                "type": "str"
            },
            {
                "label": "",
                "value": "spotlight",
                "type": "str"
            },
            {
                "label": "",
                "value": "sports",
                "type": "str"
            },
            {
                "label": "",
                "value": "snow",
                "type": "str"
            },
            {
                "label": "",
                "value": "beach",
                "type": "str"
            },
            {
                "label": "",
                "value": "verylong",
                "type": "str"
            },
            {
                "label": "",
                "value": "fixedfps",
                "type": "str"
            },
            {
                "label": "",
                "value": "antishake",
                "type": "str"
            },
            {
                "label": "",
                "value": "fireworks",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ex-value",
        "x": 680,
        "y": 840,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "4fad3f97.e2b35",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get awb",
        "func": "var command = 'awb';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 500,
        "y": 960,
        "wires": [
            [
                "c6cce9dd.bf3488"
            ],
            [
                "2bb1bdc6.b09212"
            ]
        ]
    },
    {
        "id": "2bb1bdc6.b09212",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "awb-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 20,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "awb-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 980,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "c6cce9dd.bf3488",
        "type": "ui_dropdown",
        "z": "e863d654.dd1238",
        "name": "awb-value",
        "label": "AWB Mode",
        "place": "off",
        "group": "7e7d9139.ec86",
        "order": 19,
        "width": "5",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "off",
                "type": "str"
            },
            {
                "label": "",
                "value": "auto",
                "type": "str"
            },
            {
                "label": "",
                "value": "sun",
                "type": "str"
            },
            {
                "label": "",
                "value": "cloud",
                "type": "str"
            },
            {
                "label": "",
                "value": "shade",
                "type": "str"
            },
            {
                "label": "",
                "value": "tungsten",
                "type": "str"
            },
            {
                "label": "",
                "value": "fluorescent",
                "type": "str"
            },
            {
                "label": "",
                "value": "incandescent",
                "type": "str"
            },
            {
                "label": "",
                "value": "flash",
                "type": "str"
            },
            {
                "label": "",
                "value": "horizon",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "awb-value",
        "x": 690,
        "y": 940,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "95afa3f7.d77dd",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get ifx",
        "func": "var command = 'ifx';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 490,
        "y": 1060,
        "wires": [
            [
                "8c74e5ba.d0c1a8"
            ],
            [
                "19bff9d.6240d06"
            ]
        ]
    },
    {
        "id": "19bff9d.6240d06",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "ifx-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 22,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "ifx-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "8c74e5ba.d0c1a8",
        "type": "ui_dropdown",
        "z": "e863d654.dd1238",
        "name": "ifx-value",
        "label": "Image Effects",
        "place": "off",
        "group": "7e7d9139.ec86",
        "order": 21,
        "width": "5",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "none",
                "type": "str"
            },
            {
                "label": "",
                "value": "negative",
                "type": "str"
            },
            {
                "label": "",
                "value": "solarise",
                "type": "str"
            },
            {
                "label": "",
                "value": "sketch",
                "type": "str"
            },
            {
                "label": "",
                "value": "denoise",
                "type": "str"
            },
            {
                "label": "",
                "value": "emboss",
                "type": "str"
            },
            {
                "label": "",
                "value": "oilpaint",
                "type": "str"
            },
            {
                "label": "",
                "value": "hatch",
                "type": "str"
            },
            {
                "label": "",
                "value": "gpen",
                "type": "str"
            },
            {
                "label": "",
                "value": "pastel",
                "type": "str"
            },
            {
                "label": "",
                "value": "watercolour",
                "type": "str"
            },
            {
                "label": "",
                "value": "film",
                "type": "str"
            },
            {
                "label": "",
                "value": "blur",
                "type": "str"
            },
            {
                "label": "",
                "value": "saturation",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "ifx-value",
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "f0f25b0c.c04ad8",
        "type": "function",
        "z": "e863d654.dd1238",
        "name": "Get mm",
        "func": "var command = 'mm';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "f6b80809.2f52b8"
            ],
            [
                "e3ff54ff.79e348"
            ]
        ]
    },
    {
        "id": "e3ff54ff.79e348",
        "type": "ui_switch",
        "z": "e863d654.dd1238",
        "name": "mm-enabled",
        "label": "",
        "group": "7e7d9139.ec86",
        "order": 24,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mm-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 1180,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "f6b80809.2f52b8",
        "type": "ui_dropdown",
        "z": "e863d654.dd1238",
        "name": "mm-value",
        "label": "Meter Modes",
        "place": "off",
        "group": "7e7d9139.ec86",
        "order": 23,
        "width": "5",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "average",
                "type": "str"
            },
            {
                "label": "",
                "value": "spot",
                "type": "str"
            },
            {
                "label": "",
                "value": "backlit",
                "type": "str"
            },
            {
                "label": "",
                "value": "matrix",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mm-value",
        "x": 680,
        "y": 1140,
        "wires": [
            [
                "e54e246e.e855c8"
            ]
        ]
    },
    {
        "id": "3b465ec7.08a682",
        "type": "ui_switch",
        "z": "23b558b.7cae4a8",
        "name": "t-enabled",
        "label": "",
        "group": "2109abd1.7997a4",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "t-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "ce71e2cf.9031a",
        "type": "ui_text_input",
        "z": "23b558b.7cae4a8",
        "name": "t-value",
        "label": "Delay Time (sec) 1 or greater",
        "group": "2109abd1.7997a4",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "t-value",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "74c5e045.3c587"
            ]
        ]
    },
    {
        "id": "ae5d01c5.75644",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "InitSingleImageSettings",
        "func": "var newMsg = \n{\n    'topic':'singleImageSettings',\n    'payload':\n    {\n        't' :{'value':'3000',   enabled:true},\n        'w' :{'value':'800',    enabled:false},\n        'h' :{'value':'600',    enabled:false},\n        'q' :{'value':'100',    enabled:false}\n    }\n}\nglobal.set(newMsg.topic,newMsg.payload)\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "e1bb4edd.14b15",
                "db5db4dd.641c48",
                "b7721dc0.a1ab1",
                "588c52b6.90c83c"
            ]
        ]
    },
    {
        "id": "21b15d8e.510b22",
        "type": "inject",
        "z": "23b558b.7cae4a8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "ae5d01c5.75644"
            ]
        ]
    },
    {
        "id": "588c52b6.90c83c",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "Get t",
        "func": "var command = 't';\nvar dt = Number(msg.payload[command].value);\ndt = dt / 1000;\nvar valueMsg = {'topic':command +'-value', 'payload':dt.toString()};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled, enabled:false};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "ce71e2cf.9031a"
            ],
            [
                "3b465ec7.08a682"
            ]
        ]
    },
    {
        "id": "be10b509.eb0b98",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "Store Setting",
        "func": "var singleImageSettings = global.get('singleImageSettings');\nvar settingTopic = msg.topic.split('-');\nsingleImageSettings[settingTopic[0]][settingTopic[1]] = msg.payload;\nmsg.payload = singleImageSettings;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "27dddf73.527e8",
        "type": "ui_text_input",
        "z": "23b558b.7cae4a8",
        "name": "w-value",
        "label": "Width (100 to 2592)",
        "group": "2109abd1.7997a4",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "w-value",
        "x": 720,
        "y": 160,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "9975d216.85981",
        "type": "ui_switch",
        "z": "23b558b.7cae4a8",
        "name": "w-enabled",
        "label": "",
        "group": "2109abd1.7997a4",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "w-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "e1bb4edd.14b15",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "Get w",
        "func": "var command = 'w';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "27dddf73.527e8"
            ],
            [
                "9975d216.85981"
            ]
        ]
    },
    {
        "id": "db5db4dd.641c48",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "Get h",
        "func": "var command = 'h';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "1c094e3.18cd4b2"
            ],
            [
                "6ebdda9a.0aeba4"
            ]
        ]
    },
    {
        "id": "6ebdda9a.0aeba4",
        "type": "ui_switch",
        "z": "23b558b.7cae4a8",
        "name": "h-enabled",
        "label": "",
        "group": "2109abd1.7997a4",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "h-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "1c094e3.18cd4b2",
        "type": "ui_text_input",
        "z": "23b558b.7cae4a8",
        "name": "h-value",
        "label": "Height (100 to 1944)",
        "group": "2109abd1.7997a4",
        "order": 5,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "h-value",
        "x": 720,
        "y": 260,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "b7721dc0.a1ab1",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "Get q",
        "func": "var command = 'q';\nvar valueMsg = {'topic':command +'-value', 'payload':msg.payload[command].value};\nvar enabledMsg = {'topic':command +'-enabled', 'payload':msg.payload[command].enabled};\nreturn [valueMsg, enabledMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "539b5af5.6bcf74"
            ],
            [
                "8212798d.025928"
            ]
        ]
    },
    {
        "id": "8212798d.025928",
        "type": "ui_switch",
        "z": "23b558b.7cae4a8",
        "name": "q-enabled",
        "label": "",
        "group": "2109abd1.7997a4",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "q-enabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "539b5af5.6bcf74",
        "type": "ui_text_input",
        "z": "23b558b.7cae4a8",
        "name": "q-value",
        "label": "Quality (0 to 100)",
        "group": "2109abd1.7997a4",
        "order": 7,
        "width": "5",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "q-value",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    },
    {
        "id": "74c5e045.3c587",
        "type": "function",
        "z": "23b558b.7cae4a8",
        "name": "sec to msec",
        "func": "var dt = Number(msg.payload);\ndt = dt * 1000;\nmsg.payload = dt.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "be10b509.eb0b98"
            ]
        ]
    }
]